@utility coloring-transition {
  transition: 
    border-color var(--animation-duration-in, 250ms) ease-in-out, 
    box-shadow var(--animation-duration-in, 250ms) ease-in-out,
    outline-color var(--animation-duration-in, 250ms) ease-in-out,
    outline-offset var(--animation-duration-in, 250ms) ease-in-out,
    color var(--animation-duration-in, 250ms) ease-in-out,
    background-color var(--animation-duration-in, 250ms) ease-in-out;
}

@utility coloring-solid {
  @apply coloring-transition;
  @apply bg-[var(--coloring-solid-color,var(--coloring-color))]
  text-[var(--coloring-solid-text,var(--coloring-on-color))];
}

@utility coloring-solid-hover {
  @apply coloring-solid
  hover:bg-[var(--coloring-solid-hover,var(--coloring-hover))];
}

@utility coloring-tonal {
  @apply coloring-transition;
  @apply bg-[var(--coloring-tonal-background,var(--coloring-tonal,var(--coloring-color)))]/20
  text-[var(--coloring-tonal-text,var(--coloring-tonal,var(--coloring-color)))];
}

@utility coloring-tonal-hover {
  @apply coloring-tonal
  hover:bg-[var(--coloring-tonal-hover,var(--coloring-tonal-background,var(--coloring-tonal,var(--coloring-color))))]/30;
}

@utility coloring-text {
  @apply coloring-transition;
  @apply text-[var(--coloring-text,var(--coloring-color))];
}

@utility coloring-text-hover {
  @apply coloring-text
  hover:bg-[var(--coloring-text-hover,var(--coloring-text,var(--coloring-color)))]/20;
}

@utility coloring-outline {
  @apply coloring-transition;
  border-width: var(--coloring-outline-width, 0.125rem);
  @apply border-[var(--coloring-border,var(--coloring-outline,var(--coloring-color)))];
  @apply text-[var(--coloring-outline,var(--coloring-color))];
}

@utility coloring-outline-hover {
  @apply coloring-outline
  hover:border-[var(--coloring-border-hover,--coloring-hover)]
  hover:text-[var(--coloring-outline-hover,var(--coloring-hover))];
}

@utility coloring-tonal-outline {
  @apply coloring-transition coloring-tonal;
  border-width: var(--coloring-outline-width, 0.125rem);
  @apply border-[var(--coloring-border,var(--coloring-outline,var(--coloring-color)))];
}

@utility coloring-tonal-outline-hover {
  @apply coloring-tonal-outline
  hover:border-[var(--coloring-border-hover,--coloring-hover)]
  hover:text-[var(--coloring-outline-hover,var(--coloring-hover))]
  hover:bg-[var(--coloring-tonal-hover,var(--coloring-tonal-background,var(--coloring-tonal,var(--coloring-color))))]/30;
}

@utility coloring-reset-variables {
  --coloring-color: initial;
  --coloring-on-color: initial;
  --coloring-hover: initial;
  --coloring-text: initial;
  --coloring-text-hover: initial;
  --coloring-outline: initial;
  --coloring-outline-hover: initial;
  --coloring-tonal: initial;
  --coloring-tonal-background: initial;
  --coloring-tonal-text: initial;
  --coloring-tonal-hover: initial;
}
