@import "tailwindcss";

@utility coloring-solid {
  @apply
  bg-[var(--coloring-solid-color,var(--coloring-color))]
  text-[var(--coloring-solid-text,var(--coloring-on-color))];
}

@utility coloring-solid-hover {
  @apply
  coloring-solid
  hover:bg-[var(--coloring-solid-hover,var(--coloring-hover))];
}

@utility coloring-tonal {
  @apply
  bg-[var(--coloring-color)]/20
  text-[var(--coloring-color)];
}

@utility coloring-tonal-hover {
  @apply
  coloring-tonal
  hover:bg-[var(--coloring-color)]/30;
}

@utility coloring-text {
  @apply
  text-[var(--coloring-text,var(--coloring-color))];
}

@utility coloring-text-hover {
  @apply
  coloring-text
  hover:bg-[var(--coloring-text-hover,var(--coloring-text,var(--coloring-color)))]/20;
}

@utility coloring-outline {
  @apply
  border-1
  border-[var(--coloring-border,var(--coloring-outline,var(--coloring-color)))]
  text-[var(--coloring-outline,var(--coloring-color))];
}

@utility coloring-outline-hover {
  @apply
  coloring-outline
  hover:border-[var(--coloring-border-hover,--coloring-hover)]
  hover:text-[var(--coloring-outline-hover,var(--coloring-hover))];
}

@utility reset-coloring-variables {
  --coloring-color: initial;
  --coloring-on-color: initial;
  --coloring-hover: initial;
  --coloring-text: initial;
  --coloring-text-hover: initial;
  --coloring-outline: initial;
  --coloring-outline-hover: initial;
}

@utility primary {
  @apply reset-coloring-variables;
  --coloring-color: var(--color-primary);
  --coloring-on-color: var(--color-on-primary);
  --coloring-hover: var(--color-primary-hover);
}

@utility secondary {
  @apply reset-coloring-variables;
  --coloring-color: var(--color-secondary);
  --coloring-on-color: var(--color-on-secondary);
  --coloring-hover: var(--color-secondary-hover);
}

@utility positive {
  @apply reset-coloring-variables;
  --coloring-color: var(--color-positive);
  --coloring-on-color: var(--color-on-positive);
  --coloring-hover: var(--color-positive-hover);
}

@utility negative {
  @apply reset-coloring-variables;
  --coloring-color: var(--color-negative);
  --coloring-on-color: var(--color-on-negative);
  --coloring-hover: var(--color-negative-hover);
}

@utility warning {
  @apply reset-coloring-variables;
  --coloring-color: var(--color-warning);
  --coloring-on-color: var(--color-on-warning);
  --coloring-hover: var(--color-warning-hover);
}

@utility neutral {
  @apply reset-coloring-variables;
  --coloring-color: var(--color-neutral);
  --coloring-on-color: var(--color-on-neutral);
  --coloring-hover: var(--color-neutral-hover);
  --coloring-text: var(--color-neutral-text);
  --coloring-text-hover: var(--color-neutral-text-hover);
  --coloring-outline: var(--color-neutral-outline);
  --coloring-outline-hover: var(--color-neutral-outline-hover);
}

@utility disabled {
  @apply reset-coloring-variables;
  --coloring-color: var(--color-disabled);
  --coloring-on-color: var(--color-on-disabled);
  --coloring-hover: var(--color-disabled);
  --coloring-text-hover: transparent;
}

@utility description {
  @apply reset-coloring-variables;
  --coloring-color: var(--color-description);
}

@utility surface {
  @apply reset-coloring-variables;
  --coloring-color: var(--color-surface);
  --coloring-on-color: var(--color-on-surface);
  --coloring-hover: var(--color-surface-hover);
}