@utility focus-style-outline {
  transition: outline-offset var(--animation-duration-in, 250ms);
  outline-offset: 0;

  &:focus-visible {
    @apply outline-solid outline-2 outline-focus;
    outline-offset: calc(var(--spacing) * 0.25);
  }
}

@utility focus-style-border {
  &:focus-visible {
    @apply border-2 border-focus;
  }
}

@utility focus-style-default {
  &:focus-visible:not(.focus-style-none) {
    @apply focus-style-outline;
  }
}

@utility focus-style-none {
  &:focus-visible {
    @apply outline-none;
  }
}
