@utility flex-col-* {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--spacing) * --value(number));
}

@utility flex-row-* {
  display: flex;
  flex-direction: row;
  column-gap: calc(var(--spacing) * --value(number));
}

@utility input-indicator-hidden {
  @apply appearance-none [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none [-moz-appearance:textfield];
}

@utility fake-hidden {
  @apply invisible pointer-events-none touch-none opacity-0;
}