@utility scrollable-y {
  @apply overflow-y-auto;
  scrollbar-gutter: stable;
}

@utility scrollable-x {
  @apply overflow-x-auto;
  scrollbar-gutter: stable;
}

@utility scrollable-none {
  @apply overflow-hidden;
  scrollbar-gutter: auto;
}
