@layer components {
  .button {
    @apply relative;
    &[data-size="xs"] {
      @apply min-w-16;
      padding: var(--element-padding) var(--element-padding-direction);

      &[data-bordered] {
        padding:
          calc(var(--spacing-element-padding-xs) - var(--coloring-outline-width))
          calc(var(--spacing-element-padding-direction-xs) - var(--coloring-outline-width));
      }
    }

    &[data-size="sm"] {
      @apply min-w-20;
      padding: var(--element-padding) var(--element-padding-direction);

      &[data-bordered] {
        padding:
          calc(var(--spacing-element-padding-sm) - var(--coloring-outline-width))
          calc(var(--spacing-element-padding-direction-sm) - var(--coloring-outline-width));
      }
    }

    &[data-size="md"] {
      @apply min-w-24;
      padding: var(--element-padding) var(--element-padding-direction);

      &[data-bordered] {
        padding:
          calc(var(--spacing-element-padding-md) - var(--coloring-outline-width))
          calc(var(--spacing-element-padding-direction-md) - var(--coloring-outline-width));
      }
    }

    &[data-size="lg"] {
      @apply min-w-36;
      padding: var(--element-padding) var(--element-padding-direction);

      &[data-bordered] {
        padding:
          calc(var(--spacing-element-padding-lg) - var(--coloring-outline-width))
          calc(var(--spacing-element-padding-direction-lg) - var(--coloring-outline-width));
      }
    }
  }
}

@layer utilities {
  .button[data-bordered][data-coloring-mode="interactive"]:not([data-disabled]):not([data-readonly])::before {
    inset: -2px;
  }
}
