@layer components {
  .icon-button {
    @apply coloring relative flex-col-0 items-center justify-center element-square;
    transition: var(--coloring-transitions), var(--focus-transitions);

    &:not([data-disabled]) {
      @apply cursor-pointer;
    }

    &[data-disabled] {
      @apply cursor-not-allowed;
    }

    /* Size Overwrites */
    @apply sizing-md;
    &[data-bordered] {
      padding: calc(
        var(--spacing-element-padding-md) - var(--coloring-outline-width)
      );
    }

    /* Size Overwrites */
    &[data-size="xs"] {
      @apply sizing-xs;
      &[data-bordered] {
        padding: calc(
          var(--spacing-element-padding-xs) - var(--coloring-outline-width)
        );
      }
    }
    &[data-size="sm"] {
      @apply sizing-sm;
      &[data-bordered] {
        padding: calc(
          var(--spacing-element-padding-sm) - var(--coloring-outline-width)
        );
      }
    }
    &[data-size="md"] {
      @apply sizing-md;
      &[data-bordered] {
        padding: calc(
          var(--spacing-element-padding-md) - var(--coloring-outline-width)
        );
      }
    }
    &[data-size="lg"] {
      @apply sizing-lg;
      &[data-bordered] {
        padding: calc(
          var(--spacing-element-padding-lg) - var(--coloring-outline-width)
        );
      }
    }
  }
}
