@layer components {
  .input-element {
    @apply border-2 focus-style-none focus-style-border focus-style-shadow rounded-md px-3 py-1 min-h-element-md;
    transition: 
      border-color var(--animation-duration-in, 250ms) ease-in-out, 
      box-shadow var(--animation-duration-in, 250ms) ease-in-out,
      outline-color var(--animation-duration-in, 250ms) ease-in-out,
      outline-offset var(--animation-duration-in, 250ms) ease-in-out,
      color var(--animation-duration-in, 250ms) ease-in-out,
      background-color var(--animation-duration-in, 250ms) ease-in-out;

    &:not([data-disabled]):not([data-invalid]) {
      @apply bg-input-background;

      &:not([data-value]) {
        @apply text-placeholder;
      }

      &[data-value] {
        @apply text-input-text;
      }
    }

    &:not([data-disabled])[data-invalid] {
      @apply bg-negative/20 border-negative;

      --color-focus: var(--color-negative);

      &[data-value] {
        @apply text-negative;
      }

      &:not([data-value]) {
        @apply text-placeholder;
      }
    }

    &[data-disabled] {
      @apply border-disabled bg-disabled text-on-disabled placeholder:text-transparent cursor-not-allowed;
    }

    &:not([data-disabled]):not([data-readonly]):not([data-invalid]):hover:not(:focus) {
      background-color: color-mix(in oklch, var(--color-on-surface) var(--coloring-state-hover), var(--color-input-background));
    }

    &:not([data-disabled]):not([data-readonly]):not([data-invalid]):active {
      background-color: color-mix(in oklch, var(--color-on-surface) var(--coloring-state-press), var(--color-input-background));
    }

    &:not([data-disabled]):not([data-readonly])[data-invalid]:hover:hover:not(:focus) {
      background-color: color-mix(in oklch, var(--color-negative) var(--coloring-state-hover), color-mix(in oklch, var(--color-negative) 20%, transparent));
    }

    &:not([data-disabled]):not([data-readonly])[data-invalid]:active {
      background-color: color-mix(in oklch, var(--color-negative) var(--coloring-state-press), color-mix(in oklch, var(--color-negative) 20%, transparent));
    }
  }
}
