@layer components {
  .breadcrumb {
    @apply flex-row-2 items-center;
  }
  .breadcrumb-item {
    @apply flex-row-1 items-center;
  }
  .breadcrumb-link {
    @apply flex-row-1 px-1.5 py-1 rounded-1.5 h-8;
    @apply description last:neutral coloring-text-hover;
  }
  .breadcrumb-divider {
    @apply px-1 text-description;
  }
}
