@layer components {
  .chip-sm {
    @apply flex-row-1 items-center justify-center px-1 py-0.5 rounded-md;
  }

  .chip-md {
    @apply flex-row-1 items-center justify-center px-2 py-1 rounded-md;
  }

  .chip-lg {
    @apply flex-row-2 items-center justify-center px-4 py-2 rounded-md;
  }
}