@layer components {
  .form-field-container {
    @apply relative flex-col-1;
  }

  .form-field-description {
    @apply text-description text-sm;
  }

  .form-field-error {
    @apply absolute top-[calc(100%_+_0.25rem)] left-0 text-negative text-sm font-medium;
  }

  .form-field-label {
    @apply flex-row-1 items-start typography-label-lg text-label;
  }
}
