@layer components {
  .property-root {
    @apply flex-row-0 rounded-xl;
  }

  .property-root {
    transition: outline-offset var(--animation-duration-in, 250ms);
    outline-offset: 0;

    &:hover {
      .property-title:not([data-invalid]),
      .property-content:not([data-invalid]) {
        @apply border-primary;
      }

      .property-title[data-invalid],
      .property-content[data-invalid] {
        @apply border-warning;
      }
    }

    &:focus-within {
      @apply outline-solid outline-2;
      outline-offset: calc(var(--spacing) * 0.25);

      &:not([data-invalid]) {
        @apply outline-primary;
      }

      &[data-invalid] {
        @apply outline-warning;
      }
    }
  }


  .property-title {
    @apply flex-row-2 max-w-48 min-w-48 px-3 py-2 items-center justify-between rounded-l-xl border-2 border-r-0;

    &:not([data-invalid]) {
      @apply bg-property-title-background text-property-title-text;
    }

    &[data-invalid] {
      @apply bg-warning text-on-warning border-warning-hover;
    }
  }


  .property-title-icon {
    @apply max-w-6 min-w-6;
  }

  .property-title-text {
    @apply font-semibold truncate min-w-0;
  }

  .property-content {
    @apply flex-row-2 grow px-3 py-2 justify-between items-center rounded-r-xl border-2 border-l-0 min-h-15;

    &:not([data-invalid]) {
      @apply bg-input-background text-input-text;
    }

    &[data-invalid] {
      @apply bg-surface-warning border-warning;
    }
  }

  .property-actions {
    @apply flex-row-2 items-center gap-1;
  }

  .property-input-wrapper {
    @apply relative flex-row-2 w-full;

    &[data-invalid] {
      @apply text-warning;

      .select-button,
      .select-button-chips {
        @apply !bg-warning !text-surface-warning;
      }
    }
  }

  .property-input {
    @apply rounded p-1;

    &[data-invalid] {
      @apply bg-surface-warning placeholder-warning;
    }
  }

  .property-suffix {
    @apply absolute top-1/2 -translate-y-1/2 right-2;

    &[data-invalid] {
      @apply bg-surface-warning;
    }
  }
}