@layer components {
    [data-name="select-button"] {
      @apply input-element flex-row-2 items-center justify-between rounded-md px-3 py-2;
      &:not([data-disabled]) {
        @apply hover:cursor-pointer;
      }
    }
  
    [data-name="select-chip-display"] {
      @apply input-element flex flex-wrap gap-2 items-center rounded-md px-2.5 py-2.5;
      &:not([data-disabled]) {
        @apply hover:cursor-pointer;
      }
    }

    [data-name="select-chip-display-chip"] {
      @apply flex-row-1 items-center pl-2 pr-1 coloring-solid neutral rounded-md h-9;
    }
  }