@layer components {
  [data-name="table-container"] {
    @apply flex-col-4;
  }

  [data-name="table-scroll-wrapper"] {
    @apply flex-col-0 w-full overflow-auto;
  }

  [data-name="table"] {
    @apply table-fixed border-separate border-spacing-0 rounded-lg;
    @apply bg-table-background text-table-text;
  }

  [data-name="table-filler-cell"] {
    @apply flex flex-row items-center w-1/2 h-4 text-disabled font-bold;
  }

  [data-name="table-cell"] {
    @apply block max-w-full overflow-ellipsis truncate;
  }

  [data-name="table-header-row"] {
  }

  [data-name="table-header-cell"] {
    @apply relative font-bold;
    @apply px-3 first:pl-6 last:pr-6 py-2.5;
    @apply border-y-1 first:border-l-1 last:border-r-1;
    @apply first:rounded-tl-lg last:rounded-tr-lg;
    @apply bg-table-header-background text-description;
  }

  [data-name="table-body-row"] {
    @apply hover:bg-table-row-hover-background;
  }

  [data-name="table-body-cell"] {
    @apply px-3 first:pl-6 last:pr-6 py-2.5;
    @apply border-b-1 first:border-l-1 last:border-r-1;
    @apply [nth-last-child(1)]:first:rounded-bl-lg [nth-last-child(1)]:last:rounded-br-lg;
  }

  [data-name="table-resize-indicator"] {
    @apply absolute right-1 top-1/2 -translate-y-1/2;
    @apply h-6 w-2 rounded bg-primary;
    @apply cursor-col-resize select-none touch-none;
    @apply opacity-0 transition-opacity;

    &[data-active] {
      @apply opacity-100;
    }

    &[data-disabled] {
      @apply opacity-0 hidden;
    }

    &:not([data-disabled]) {
      @apply group-hover/table-header-cell:opacity-100;
    }
  }

  [data-name="table-body-row"]:last-child > [data-name="table-body-cell"] {
    @apply first:rounded-bl-lg last:rounded-br-lg;
  }
}
