@layer components {
  [data-name="tab-list"] {
    @apply flex-row-0;
  }

  [data-name="tab-list-item"] {
    @apply flex-row-0 grow justify-center px-3 py-2 typography-label-md font-bold border-b-2 transition-colors neutral coloring-text-hover;
    &[data-active] {
      @apply border-primary;
    }
    &:not([data-active]) {
      @apply text-description hover:cursor-pointer;
    }
  }

  [data-name="tab-view"] {
    @apply flex-col;
  }

  [data-name="tab-panel"] {
    @apply flex-col-0 overflow-y-auto;
  }
}
