@layer components {
  [data-name="tooltip"] {
    @apply absolute px-2 py-1 rounded shadow-around-md;
    @apply text-xs font-semibold text-tooltip-text bg-tooltip-background;
    @apply opacity-0 animate-tooltip-fade-in;
  }
}
